.outerbox{
    width: 70vw;
    margin: auto;
    /* margin-top: 40px; */
}
.productsOuter{
    width: 100%;
}
.singleProduct{
    display: flex;
    width: 100%;
    height: 140px;
    border-bottom: 1px solid gray;
}
.Imgdiv{
    width: 20%;
    padding: 1%;
}
.Imgdiv > img{
    width: 100%;
    height: 100%;
}
.detailsdiv{
    width: 80%;
    display: flex;
    height: 100%;
}
.productname{
    width: 50%;
    padding: 2%;
    height: 100%;
}
.productprice{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    width: 20%;
    display: flex;
    padding: 1%;
    height: 100%;
}
.removeproduct{
    width: 15%;
    height: 100%;
    display: flex;
    padding: 1%;
}
.removeproduct > img{
    width: 20px;
    height: 20px;
}

.counterbtn{
    width: 40px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.countText{
    width: 10%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.removebtn{
    width: 30px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerbox>h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


@media all and (min-width: 320px) and (max-width: 767px) {
    .outerbox{
        width: 80%;
        margin-top: 30px;
    }
    .singleProduct{
        height: 200px;
    }
    .removebtn{
        width: 30px;
        height: 30px;
    }
    .detailsdiv{
        display: flex;
        flex-direction: column;
    }
    .productname{
        width: 100%;
        height: 25%;
    }
    .productprice{
        width: 20%;
        height: 25%;
    }
    .counter{
        width: 50%;
        height: 25%;
    }
    .removeproduct{
        width: 40%;
        height: 25%;
    }
    .Imgdiv{
        width: 40%;
        padding: 1%;
    }
    .Imgdiv > img{
        width: 80%;
        height: 80%;
    }
}


@media all and (min-width: 768px) and (max-width: 1080px) {
    
    .outerbox{
        width: 80%;
    }
    .singleProduct{
        height: 200px;
    }
    .removebtn{
        width: 30px;
        height: 30px;
    }
    .detailsdiv{
        display: flex;
        flex-direction: column;
    }
    .productname{
        width: 100%;
        height: 25%;
    }
    .productprice{
        width: 20%;
        height: 25%;
    }
    .counter{
        width: 40%;
        height: 25%;
    }
    .removeproduct{
        width: 40%;
        height: 25%;
    }
}